doc/doc-sample/src/main/app/Demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:box="http://www.mulesoft.org/schema/mule/box" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/box http://www.mulesoft.org/schema/mule/box/2.0/mule-box.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/1.0/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <objectstore:config name="ObjectStore" objectStore-ref="_defaultInMemoryObjectStore" doc:name="ObjectStore"/>
    <box:config name="Box" clientId="${box.clientId}" clientSecret="${box.clientSecret}" doc:name="Box">
        <box:oauth-callback-config domain="localhost" localPort="8080" remotePort="8080" path="callback"/>
    </box:config>
    <flow name="DemoFlow1" doc:name="DemoFlow1">
        <box:listen-events config-ref="Box" doc:name="Box (Streaming)"/>
        <set-variable variableName="defaultValue" value="0" doc:name="Variable"/>
        <objectstore:retrieve config-ref="ObjectStore" key="streamPosition" defaultValue-ref="#[flowVars['defaultValue']]" doc:name="ObjectStore"/>
        <box:get-events config-ref="Box" streamPosition="#[payload]" accessTokenId="#[message.inboundProperties['boxAccessTokenId']]" doc:name="Box"/>
        <objectstore:store config-ref="ObjectStore" key="nextStreamPosition" value-ref="#[payload.nextStreamPosition]" overwrite="true" doc:name="ObjectStore"/>
        <scripting:transformer doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[return payload.entries.findAll{it.eventType == 'ITEM_DOWNLOAD' || it.eventType == 'ITEM_PREVIEW'}]]></scripting:script>
        </scripting:transformer>
        <scripting:transformer doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[return payload.findAll{it.source?.type == "file" && it.source?.parent.id == "0"}]]></scripting:script>
        </scripting:transformer>
        <foreach doc:name="For Each">
            <logger message="Box user #[payload.createdBy.login] has seen the file #[payload.source.name]" level="INFO" doc:name="Logger"/>
        </foreach>
    </flow>
    <flow name="search" doc:name="search">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="search" doc:name="HTTP"/>
        <box:search config-ref="Box" query="#[message.inboundProperties['query']]" accessTokenId="#[message.inboundProperties['user']]" doc:name="Box"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="authorize" doc:name="authorize">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="auth" doc:name="HTTP"/>
        <box:authorize config-ref="Box" doc:name="Box"/>
    </flow>
</mule>
