src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:boxnet="http://www.mulesoft.org/schema/mule/boxnet"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/boxnet http://www.mulesoft.org/schema/mule/boxnet/1.0/mule-boxnet.xsd">

    <boxnet:config apiKey="8zy64pplxx1mp3fn9v1h3qbokyh25n98"/>

    <flow name="getTicketFlow">
        <boxnet:get-ticket />
        <logger level="ERROR" message="Got Ticket: #[payload]" />
    </flow>

    <flow name="getAuthTokenFlow">
        <boxnet:get-auth-token ticket="3odya9btj0urvihx0sdvo5yxp0bl1xdq" />
        <logger level="ERROR" message="Got Auth Token: #[payload]" />
    </flow>
    
    <flow name="testFlow">
    	<boxnet:create-folder authToken="5vgke7867zqi17g535q09i7xa5bzlp6t" parentFolderId="0" folderName="cloudconnector-test" />
    	<custom-transformer class="org.mule.connector.boxnet.PreUploadTransformer" />
     	<boxnet:upload-stream authToken="5vgke7867zqi17g535q09i7xa5bzlp6t" folderId="#[header:CREATED_FOLDER_ID]" filename="test.txt" input-ref="#[payload]" />
        <boxnet:download authToken="" fileId=""

    </flow>


</mule>
